<!--<p>vista-home-vendedor works!</p>-->
<div *ngIf="esVendedor">
  <div class="saludo-usuario">
    <p class="usuario-text">
      {{ greetingMessage }}, {{ user.firstName }} {{ user.lastName }}
    </p>
  </div>
  <div class="empty" *ngIf="alquileresPendientes.length <= 0">
    <span>No cuenta con pedidos aún, intenta más tarde.</span>
    <div class="container">
      <b>¿Tienes otras tareas ?</b>
      <div class="Botonera">
        <button><a href="/dashboard/search-product">Editar Producto</a></button>
        <button><a href="/dashboard/form-delete">Eliminar Producto</a></button>
        <button> <a href="/dashboard/form-add-product">Agregar Producto</a></button>
        <button disabled>cambiar mi informacion personal</button>
        <button disabled>Gestionar Usuarios</button>
      </div>
    </div>
  </div>
  <div class="pedidos" *ngIf="alquileresPendientes.length > 0">
    Pedidos por Confirmar
    <div class="container-pedidos">
      <div
        class="pedido-row"
        *ngFor="let pedido of alquileresPendientes; let i = index"
      >
        <div class="card">
          <div class="card_img">
            <img src="{{ pedido.Products[0].image }}" alt="" />
          </div>
          <span class="card_title"
            >Pedido Por: {{ pedido.solicitante.lastName }},
            {{ pedido.solicitante.firstName }}</span
          >
          
          <span class="card-fecha">Desde {{ pedido.fechaInicio | date }}</span>
          <span class="card-fecha">Hasta {{ pedido.fechaFin | date }}</span>
          <div class="container-btn" *ngIf="pedido.verified >= 0">
            <button
              class="btn-gral btn-aceptar"
              *ngIf="pedido.verified >= 1"
              (click)="tomarPedido(1, pedido)"
            >
              Aceptar
            </button>
            <button
              class="btn-gral btn-rechazar"
              *ngIf="pedido.verified >= 0"
              (click)="tomarPedido(0, pedido)"
            >
              Rechazar
            </button>
          </div>
          <div class="container-btn" *ngIf="pedido.verified != 0 and pedido.verified != 1 ">
            <button
              class="btn-gral btn-comprobar"
              style="padding: 2px"
              (click)="verificar(pedido.id)"
            >
              Verficar Disponibilidad
            </button>
          </div>
          <div class="container-btn">
            <button
              class="btn-gral btn-comprobar"
              style="padding: 2px"
              (click)="openDialogDetalle(pedido)"
            >
              Detalles
            </button>
        </div>
      </div>
    </div>
  </div>
  <section *ngIf="user.type==2" class="proveedores">
    <app-vista-proveedores></app-vista-proveedores>
  </section>
</div>
