
<div class="container">
    <mat-dialog-content class="popUp">
        <div class="top">
            <button mat-icon-button class="close" matDialogClose>
                <mat-icon class="close-icon">close</mat-icon>
            </button>
            <b class="title">Productos</b>
        </div>
        
       
        <div class="info" >
            <!--<p>Nada: <b>{{p}}</b></p>-->
            
            <mat-list>
                
                <mat-list-item *ngFor="let p of alquiler.Products">
                    <img matListItemAvatar src="{{p.image}}" alt="...">
                    <span matListItemTitle>{{p.name}}</span>
                    <!--<span matListItemLine>{{p.price | currency}}</span>-->
                </mat-list-item>
            </mat-list>
              
        </div>
       
    </mat-dialog-content>
</div>